{{import style from "./styles.module.scss"}}

{{import Button from "~/ui/components/button"}}
{{import helper2 from "~/ui/helpers/helper"}}
{{import modifier2 from "~/ui/modifiers/modifier"}}


<Button>I'm a globally referenced button</Button>
<div class="style {{style.custom}}">{{style.custom}}</div>
{{#if (helper2 5)}}
  <div class="local"></div>
{{/if}}

<div class="modifiers"
  {{modifier2 "modifier"}}
/>